<form action="/posts" method='GET' class="card p-4">
	
	<fieldset>
		<div class="form-row">
			<legend>Location</legend> 
			<input type="text" id="location" placeholder="city or zipcode" name="location" value="<%=query.location%>" class="form-control">
		</div>
		<div class="mt-2">
			<legend>Distance (in km)</legend>
			<input type="radio" name="distance" id="distance25" value="25" <%=query.distance===25?checked:""%> >
			<label for="distance25">25</label>
			<input type="radio" name="distance" id="distance50" value="50" <%=query.distance===50?checked:""%> >
			<label for="distance50">50</label>
			<input type="radio" name="distance" id="distance100" value="100" <%=query.distance===100?checked:""%> >
			<label for="distance100">100</label>
		</div>	

	</fieldset>

	<fieldset>
		<legend>Price</legend>
		  <div class="form-row">
		    <div class="form-group col-md-6">
		     <label for="min">Min</label>
		      <input type="text" id="min" name="price[min]" min="0" max="10000" step="1" placeholder="Min" value="<%= query.price ? query.price.min : '' %>" class='form-control'>	
		    </div>
		    <div class="form-group col-md-6">
		      <label for="max">Max</label>
		      <input type="text" id="max" name="price[max]" min="0" max="10000" step="1" placeholder="Max" value="<%= query.price ? query.price.max : '' %>" class="form-control">
		    </div>
		  </div>
	</fieldset>
	

	<fieldset>
		<legend>Rating</legend>
		
		<input type="checkbox" id="zero-star" name="avgRating[]" value="0" <%=query.avgRating&&query.avgRating.includes("0")?"checked":''%>>
		<label for="zero-star">0 Star</label>
		<input type="checkbox" id="one-star" name="avgRating[]" value="1" <%=query.avgRating&&query.avgRating.includes("1")?"checked":''%>>
		<label for="one-star">1 Star</label>
		<input type="checkbox" id="two-star" name="avgRating[]" value="2" <%=query.avgRating&&query.avgRating.includes("2")?"checked":''%>>
		<label for="two-star">2 Stars</label>
		<input type="checkbox" id="three-star" name="avgRating[]" value="3" <%=query.avgRating&&query.avgRating.includes("3")?"checked":''%>>
		<label for="three-star">3 Stars</label>
		<input type="checkbox" id="four-star" name="avgRating[]" value="4" <%=query.avgRating&&query.avgRating.includes("4")?"checked":''%>>
		<label for="four-star">4 Stars</label>
		<input type="checkbox" id="five-star" name="avgRating[]" value="5" <%=query.avgRating&&query.avgRating.includes("5")?"checked":''%>>
		<label for="five-star">5 Stars</label>

	</fieldset>

<button class="btn btn-outline-primary">submit</button>
<a href="/posts" class="btn btn-outline-dark mt-1">Reset form</a>
</form>