<%layout("/partials/boilerplate")-%>

<h1><%=post.title%></h1>
<h3><%=post.price%></h3>
<p><%=post.description%></p>
<p><%=post.location%></p>
<p><%=post.coordinates%></p>
<%post.images.forEach(image=>{ %>
	<img src="<%=image.url%>" alt="" width="200px;">
<%} )%>

<div id='map'></div>

<a href="/posts/<%=post.id%>/edit" class="btn btn-primary">Edit</a>
<form action="/posts/<%=post.id%>?_method=DELETE" class="d-inline" method="POST">
		<button class="btn btn-outline-danger">Delete post</button>
</form>

<script>var post=<%-JSON.stringify(post)%></script>
<script src="/javascripts/posts-show.js"></script>


