<%layout("/partials/postsShowBoilerPlate.ejs")-%>


<div class="row">
	<div class="col-md-5">
		<div class="card p-1">
			<img src="<%=post.images[0].url%>" alt="" class="img-fluid m-auto"  id="bigImage" style="width: 400px;height: 400px;">
		</div>
		<div class="justify-content-center">
			<% post.images.forEach((image,index)=>{%>
					<img src="<%=image.url%>" alt="" class="img-fluid img-thumbnail m-2 pointer" style="max-width: 50px;max-height:50px; " id="<%=index%>" onClick="getAttr(this)">
			<% })%>
		</div>
		
	</div>
	<div class="col-md-7">
		<div class="card p-3">
			        <h3 class="card-title"><%=post.title%></h3>
					<h5>Price : <%=post.price%></h5>
					<p>Location : <%=post.location%></p>
					<p>Average rating :
						<%for(i=0;i<5;i++){ %>
							<%if(i<floorRating){%>
								<i class="fas fa-star"></i>
							<%}else if((post.avgRating-i)>0&&(post.avgRating-i)<1){%>
								<i class="fas fa-star-half-alt"></i>
							<%}else{%>
									<i class="far fa-star"></i>
							<%}%>
						<% }%>
					 </p>
			        <p class="card-text"><%=post.description%></p>
			        <p class="card-text"><small class="text-muted">Posted on <%= moment(post._id).format('MMM') %><span> <%= moment(post._id).format('D') %> <%=moment(post._id).format('Y')%></small></p>
		</div>
		        
	</div>
	
</div>



<legend class="text-center text-info mt-5"> Location of Surf Board</legend>

<div class="card p-3 mt-5">
	<div id='map'></div>
</div>


<div class="mt-5">
	<%if(currentUser&&currentUser._id.equals(post.author)){%>
		<a href="/posts/<%=post.id%>/edit" class="btn btn-outline-warning">Edit</a>
		<form action="/posts/<%=post.id%>?_method=DELETE" class="d-inline" method="POST">
				<button class="btn btn-outline-danger">Delete post</button>
		</form>
	<%}%>
</div>





	<!--review SECTION START-->
    <div class="card p-3 mt-5 bg-light mb-5">
      <!--Setting up the add new review button that is used for collapsing-->
      <div class="text-right">
        <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new review</a>
      </div>

      <!--review section title-->
      <h4><strong>Reviews <i class="far fa-comment"></i></strong></h4>

      <!--Collapse Add a review form START-->
      <div class="collapse" id="collapseComment">
        <div class="card p-3 p-3" style="border-left: 5px solid #00C851;">
            <% if(!currentUser) { %>
          <!--If the user is not logged in, direct him to the login page-->
          <h5>You need to login before you can review. <a href="/login">Click here</a> to go to the login page.</h5>
            <% } %>
            <% if(currentUser) { %>
          <!--If the user is logged in, show the new review form-->
          <h4>Write your review <i class="fas fa-pencil-alt"></i></h4>
          <form id="add-review-form" action="/posts/<%= post._id %>/review" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="body" placeholder="Write your review..." form="add-review-form" rows="5" cols="70"></textarea>
            </div>

            <fieldset class="starability-basic">
              <legend>Rating:</legend>
              <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
              <input type="radio" id="rate1" name="rating" value="1" />
              <label for="rate1" title="Terrible">1 star</label>
              <input type="radio" id="rate2" name="rating" value="2" />
              <label for="rate2" title="Not good">2 stars</label>
              <input type="radio" id="rate3" name="rating" value="3" />
              <label for="rate3" title="Average">3 stars</label>
              <input type="radio" id="rate4" name="rating" value="4" />
              <label for="rate4" title="Very good">4 stars</label>
              <input type="radio" id="rate5" name="rating" value="5" />
              <label for="rate5" title="Amazing">5 stars</label>
            </fieldset>
            <div class="form-group">
              <button class="btn btn-success btn-sm">review <span class="glyphicon glyphicon-review" aria-hidden="true"></span></button>
            </div>
          </form>
            <% } %>
        </div>
      </div>
      <!--Collapse Add a review form END-->

      <hr>

      <!--Check if there are comments, if there are none say no comments.-->
        <% if (post.reviews.length === 0) { %>
      <em style="color: grey;">No comments yet.</em>
        <% } %>

      <!--Display comments by looping through them-->
        <% post.reviews.forEach(function(review) { %>
      <div class="row">
        <div class="col-md-12">
          <strong>
              <% if (currentUser && currentUser._id.equals(review.author.id)) { %>
            <!--If the current user owns the review, change the color of the user icon-->
            <span style="color: orange;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <% } else { %>
            <!--Else just display it black-->
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <% } %>
            <!--Print out the author username-->
              <%= review.author.username %>
          </strong>
          <!--Show when the review was made-->
          <span class="float-right"><%= moment(review.createdAt).fromNow() %></span>
          <!--Printing the review-->
          <p><%=  review.body%></p>
          <p>Rating :
          						<%for(i=0;i<5;i++){ %>
          							<%if(i<review.rating){%>
          								<i class="fas fa-star"></i>
          							<%}else{%>
          									<i class="far fa-star"></i>
          							<%}%>
          						<% }%>
          					 </p>
          <!--If the visitor is logged in and the owner of the review, show the edit and delete buttons-->
            <% if (currentUser && currentUser._id.equals(review.author.id)) { %>
          <!--Edit button used for collapsing the edit review form-->
          <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= review._id %>" aria-expanded="false" aria-controls="collapse<%= review._id %>">
            Edit Review</a>
          <!--Delete review button-->

          <form id="delete-form" action="/posts/<%= post._id %>/review/<%= review._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-xs btn-danger">Delete Review</button>
          </form>
          <!--Edit review form-->
          <div class="collapse" id="collapseEdit<%= review._id %>">
            <div class="card p-3" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
              <h4>Edit your review <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
              <form id="edit-review-form" action="/posts/<%= review._id %>/review/<%= review._id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="body" placeholder="Your review text..." form="edit-review-form" rows="5" cols="70"><%= review.body %></textarea>
                </div>
                <fieldset class="starability-basic">
                  <legend>Edit rating:</legend>
                  <input type="radio" id="first-rate0" class="input-no-rate" name="rating" value="0" aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="rating" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="rating" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="rating" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="rating" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="rating" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                
                <div class="form-group">
                  <button class="btn btn-warning btn-sm">Edit review <span class="glyphicon glyphicon-review" aria-hidden="true"></span></button>
                </div>
              </form>
              <script>
              	document.querySelector("#first-rate<%=review.rating%>").click()
              </script>
            </div>
          </div>
            <% } %>
          <hr>
        </div>
      </div>
        <% }) %>
    </div>
<!--review SECTION END-->


<script>
	var post=<%-JSON.stringify(post)%>
	var mapboxToken="<%-mapboxToken%>"	
</script>
<script src="/javascripts/posts-show.js"></script>
